@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

header {
  margin: .75rem 1rem 0;
}

img {
  display: block;
  width: 100%;
}

header h1,
header h2 {
  text-align: center;
  margin: 0;
}

header h1 {
  font-size: 2rem;
}

header h2 {
  font-size: 1.125rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.nav a {
  color: #3783a3;
  font-size: 1rem;
  padding: 1rem;
}

.nav a:hover {
  color: #000;
}

.banner-img {
  margin-bottom: 1.5rem;
}

main {
  margin: 0 1rem;
}

.section {
  border-top: 3px solid #e2e2e2;
  border-bottom: 3px solid #e2e2e2;
  margin-bottom: 1.5rem;
  max-width: 30em;
}

.section h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
  margin-top: 1rem;
  padding: 0 .5rem;
  text-align: center;
}

.section p {
  margin-bottom: 2rem;
  padding: 0 .75rem;
  text-align: center;
}

.cards {
  margin-top: 1.5rem;
}

.card {
  margin-bottom: 2rem;
}

.card img {
  margin-bottom: 1.5rem;
}

.card h3,
.card h4 {
  margin: 0;
}

.card h3 {
  font-size: 1.5rem;
}

.card p {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.btn {
  color: #3783a3;
  padding: .5em 1em .6em;
  border: .2rem solid #3783a3;
  border-radius: .3rem;
  text-decoration: none;
}

.btn:hover {
  color: #000;
  border: .2rem solid #000;
}

footer {
  border-top: .2rem solid #e2e2e2;
  padding: 1rem;
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .section {
    margin: auto;
  }

  .head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 110%;
  }

}
